<!doctype html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta
        name='viewport'
        content='width=device-width, initial-scale=1.0'
    >
    <script src='https://cdn.tailwindcss.com'></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Feed</h1>
        <% tweets.forEach(tweet => { %>
        <div class="bg-white p-4 rounded shadow mb-4">
            <p class="text-gray-800"><%= tweet.text %></p>
            <p class="text-gray-600 text-sm">- <%= tweet.username %></p>
            <a href="/like-tweet/<%= tweet._id %>">like tweet</a>
            <h1> likes : <%= tweet.likes.length %> </h1>

            <form
                action="/comment/<%= tweet._id %>"
                method="post"
                class="mt-4 flex gap-2"
            >
                <input
                    type="text"
                    name="comment"
                    placeholder="Write a comment"
                    class="border border-gray-300 p-2 rounded"
                >
                <button
                    type="submit"
                    class="bg-blue-500 text-white p-2 rounded mt-2"
                >Comment</button>
            </form>


            <h2 class="my-3s">Comments</h2>

            <hr class="my-3">

            <ul class="list-disc pl-5">
                <% tweet.comments.forEach(comment =>{ %>

                <li> <%= comment.data %> </li>

                <% }) %>
            </ul>

        </div>
        <% }) %>
        </< /ul>div>
</body>
</html>
